body {
  background-color: #3366FF; /* warna kuning cerah */ 
    font-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */
  color: #F08080; /* warna teks utama (Biru Gelap) */
}
.kartu-profil {
  width: 300px auto;
  margin: 50px; /* 50px jarak atas/bawah, auto menengahkan */
  padding: 20px;
  background-color: white;
  border-radius: 15px; /* membuat sudut menjadi selengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*efek bayangan */
  text-align: center;
}
.kartu-profil img {
 width: 150px;
 border-radius:  50%; /* trik untuk membuat gambar persegi menjadi lingkaran sempurna */
}
  
